@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply transition-colors duration-500 ease-in-out;
  }
  
  *, *::before, *::after {
    @apply transition-[background-color,border-color,color,fill,stroke] duration-300 ease-in-out;
  }
}